---
layout: layout.njk
---

{% if heroImage %}
   <div class="hero">
        <img src="{{heroImage}}" alt="">
   </div>
{% endif %}
<main class="main">
    <h1>{{ title }}</h1>
    {{ content | safe }}
</main>
