<header class="header">
    <a href="/" class="logo">cookyroach</a>
    <nav>
        <ul>
            <li>
                <a {{ 'class=active' if '/about' in page.url }} href="/about">About</a>
            </li>
            <li>
                <a {{ 'class=active' if '/pet-rocky' in page.url }} href="/pet-rocky">Pet Rocky</a>
            </li>
             <li>
                <a {{ 'class=active' if '/portfolio' in page.url }} href="/portfolio">Portfolio</a>
            </li>
        </ul>
    </nav>
</header>
