---
layout: content.njk
title: About
---

<p>I draw and make comics for fun. I like simple stories, it doesn't have to be complicated and serious. 
I enjoy drawing characters that are trying their best to live their life. 
I work traditionally, mainly with fineliners and watercolor.</p>
<ul>
    <li>Twitter</li>
    <li>Instagram</li>
    <li>Tapastic</li>
    <li>Redbubble</li>
    <li>Webtoons</li>
    <li>Youtube</li>
</ul>
