---
layout: content.njk
title: About
---

<img src="https://res.cloudinary.com/cookyroach/image/upload/v1652119609/cooky_draw_small.png" alt="">
<br>
<p>Hi there! I draw and make comics for fun. I like simple stories, it doesn't have to be complicated and serious. 
I enjoy drawing characters that are trying their best to live their life. 
I work both digitally and traditionally. Loving procreate, but still can't let go of watercolor and fineliners.</p>

