---
layout: content.njk
title: About
---

<p>I draw and make comics for fun. I like simple stories, it doesn't have to be complicated and serious. 
I enjoy drawing characters that are trying their best to live their life. 
I work traditionally, mainly with fineliners and watercolor.</p>
<br>
<br>
<img src="https://res.cloudinary.com/cookyroach/image/upload/v1626269428/mofos_transparent.png" alt="">
