footer {
	padding: 0 1rem 2rem;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: auto;

	&::after {
		content: '';
		width: 5rem;
		height: 5rem;
		background-image: url('https://res.cloudinary.com/cookyroach/image/upload/v1652014261/assets/roachy_animated.svg');
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: -2rem;
		right: 10%;
	}
}

footer ul {
	display: flex;
	padding: 0;
	margin: 0.5rem 0;
	list-style-type: none;
	font-size: 1.5rem;
}

footer ul li:not(:first-child) {
	margin-left: 2.5rem;
}
