@import 'colors';

section {
    background: $cookie;
    padding: 2rem 1rem 4rem;
    min-height: 200px;
  }

  section .wrapper {
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  section .wrapper--center {
    align-items: center;
  }

section {
    &.cherry {
        background: $cherry;
    }

    &.strawberry {
      background: $strawberry;
      color: white;

      .button {
        color: $strawberry;
        background: white;
        font-weight: bold;
        margin-top: 1rem;
      }
    }
}