@use 'colors';

section {
    background: #ffeae1;
    padding: 2rem 1rem 3rem;
    min-height: 200px;
  }

  section .wrapper {
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  section .wrapper--center {
    align-items: center;
  }

  section:nth-child(3) {
    background: #f15252;
    color: white;
  }

  section:nth-child(3)   .button {
      color: #f15252;
      background: white;
      font-weight: bold;
    }

    section .button {
      margin-top: 1rem;
    }

section {
    &.cherry {
        background: #ffd3e1;
        // border-bottom: 2px dashed white;
        // box-shadow: 0 0 0 1em #ffd3e1, 0px 13px 6px 4px rgb(164 10 74 / 37%);
        // z-index: 3;
        // margin-bottom: 1rem;
        // position: relative;
    }
}